In [1]:
x=1
while x<11:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [9]:
#print 10 to 1
x=10
while x>=1:
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

In [19]:
#print table no
no=int(input("enter the no from table="))
a=1
while a<11:
    print(a*no)
    a=a+1

enter the no from table= 6

6
12
18
24
30
36
42
48
54
60

In [27]:
#print reverse table
no=int(input("enter the no for table="))
a=5
while a>=1:
    print(a*no)
    a=a-1

enter the no for table= 7

35
28
21
14
7

In [31]:
#pattern printing ex=1,4,7,10,13,16
#c=1,operation c=c+3,end point 17
c=1
while c<17:
    print(c)
    c=c+3

1
4
7
10
13
16

In [35]:
#print this pattern 21 16 11 6 1
c=21
while c>=1:
    print(c)
    c=c-5

21
16
11
6
1

In [75]:
#print the pattern 1 7 19 25
e=1
while e<26:
     
    if e!=13:
         print(e)
    e=e+6

1
7
19
25

In [79]:
#function can perform any task
#it can be reuse, function will return the result
def printName():
    print("My name is Sneha Yadav")
#call function to print the name
printName()

My name is Sneha Yadav

In [85]:
#create function to concatenate fname and lname from userfname= input("Enter your first name=")lname=input("Enter your last name=")
def printName():
def printFullName(firstname,lastname):
    print(firstname+lastname)

    printfullname(fname,lname)

IndentationError: expected an indented block after function definition on line 2 (1023651592.py, line 3)

In [ ]:
#